NasaAPI/obj/NasaAPI.csproj.nuget.g.targets
.DS_Store
.vscode/launch.json
.vscode/tasks.json
NasaAPI/.DS_Store
NasaAPI/Properties/launchSettings.json
NasaAPI/Properties/PublishProfiles/nasaapicahe - Web Deploy.pubxml
NasaAPI/Properties/PublishProfiles/nasaapicahe - Web Deploy.pubxml.user
NasaAPI/obj/NasaAPI.csproj.nuget.cache
NasaAPI/obj/NasaAPI.csproj.nuget.g.props
NasaAPI/obj/project.assets.json
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.AssemblyInfo.cs
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.AssemblyInfoInputs.cache
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.RazorAssemblyInfo.cache
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.RazorAssemblyInfo.cs
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.assets.cache
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.csproj.CoreCompileInputs.cache
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.csprojAssemblyReference.cache
NasaAPI/obj/Debug/netcoreapp2.1/project.razor.json
NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.deps.json
NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.dll
NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.pdb
NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.runtimeconfig.dev.json
NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.runtimeconfig.json
NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.deps.json
NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.dll
NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.pdb
NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.runtimeconfig.dev.json
NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.runtimeconfig.json
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.csproj.FileListAbsolute.txt
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.dll
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.pdb
NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.RazorTargetAssemblyInfo.cache
NasaAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NasaAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NasaAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NasaAPI/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.AssemblyInfo.cs
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.AssemblyInfoInputs.cache
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.assets.cache
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.csproj.CoreCompileInputs.cache
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.csproj.FileListAbsolute.txt
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.csprojAssemblyReference.cache
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.dll
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.pdb
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.RazorAssemblyInfo.cache
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.RazorAssemblyInfo.cs
NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.RazorTargetAssemblyInfo.cache
NasaAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NasaAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NasaAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NasaAPI/obj/NasaAPI.csproj.nuget.dgspec.json
.vs/NasaAPI/v16/Server/sqlite3/storage.ide-wal
.vs/NasaAPI/v16/Server/sqlite3/storage.ide-shm
.vs/NasaAPI/v16/Server/sqlite3/storage.ide
.vs/NasaAPI/v16/Server/sqlite3/db.lock
.vs/NasaAPI/v16/.suo
.vs/NasaAPI/DesignTimeBuild/.dtbcache
Backend/NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.deps.json
Backend/NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.dll
Backend/NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.pdb
Backend/NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.runtimeconfig.dev.json
Backend/NasaAPI/bin/Debug/netcoreapp2.1/NasaAPI.runtimeconfig.json
Backend/NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.deps.json
Backend/NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.dll
Backend/NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.pdb
Backend/NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.runtimeconfig.dev.json
Backend/NasaAPI/bin/Debug/netcoreapp2.2/NasaAPI.runtimeconfig.json
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.AssemblyInfo.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.AssemblyInfoInputs.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.assets.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.csproj.CoreCompileInputs.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.csproj.FileListAbsolute.txt
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.csprojAssemblyReference.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.dll
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.pdb
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.RazorAssemblyInfo.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.RazorAssemblyInfo.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.1/NasaAPI.RazorTargetAssemblyInfo.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.AssemblyInfo.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.AssemblyInfoInputs.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.assets.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.csproj.CoreCompileInputs.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.csproj.FileListAbsolute.txt
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.csprojAssemblyReference.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.dll
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.pdb
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.RazorAssemblyInfo.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.RazorAssemblyInfo.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.2/NasaAPI.RazorTargetAssemblyInfo.cache
Backend/NasaAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Backend/NasaAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Backend/NasaAPI/obj/NasaAPI.csproj.nuget.cache
Backend/NasaAPI/obj/NasaAPI.csproj.nuget.dgspec.json
Backend/NasaAPI/obj/NasaAPI.csproj.nuget.g.props
Backend/NasaAPI/obj/NasaAPI.csproj.nuget.g.targets
Backend/NasaAPI/obj/project.assets.json
Backend/.vs/NasaAPI/v16/Server/sqlite3/db.lock
Backend/.vs/NasaAPI/v16/Server/sqlite3/storage.ide
Backend/.vs/NasaAPI/v16/Server/sqlite3/storage.ide-shm
Backend/.vs/NasaAPI/v16/Server/sqlite3/storage.ide-wal
Backend/.vs/NasaAPI/v16/.suo
Backend/.vs/NasaAPI/DesignTimeBuild/.dtbcache
